<footer data-turbolinks-permanent class="text-gray-100 static w-full h-32 md:h-64 bg-black flex justify-center items-center content-center text-center z-10">
	<div>
		<div class="text-xl font-serif italic mb-10 md:mb-20">
			<p>
				You can contact me at my <a class="text-theme-pink hover:underline" href="mailto:me@lydiamichelle.com">email.</a>
			</p>
			<p>
				If you would like to support me, purchase something from my
				<a target="_blank" class="text-theme-pink hover:underline" href="https://www.redbubble.com/people/{{ site.social.redbubble }}/shop">Redbubble shop!</a>
			</p>
		</div>
		<small class="text-xs text-white">
			<p>
				{{ site.author.copyright }} built by
				<a class="hover:text-theme-pink hover:underline" href="{{ site.author.website }}">{{ site.author.name }}</a>
				with love for {{ site.title }}
			</p>
			<p>
				Icons made by <a class="hover:text-theme-pink hover:underline" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
				from <a class="hover:text-theme-pink hover:underline" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
			</p>
		</small>
	</div>
</footer>
