<header class="py-3 h-20 md:h-32 print:hidden flex flex-col md:flex-row items-center content-center justify-between bg-black text-white w-full">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="ml-0 md:ml-20 flex flex-col md:flex-row" rel="author" href="{{ "/" | relative_url }}">
        <!-- <img src="/assets/images/logo.svg" alt="Lydia Michelle Logo" class="w-12 h-12 inline" /> -->
        <h1 class="font-serif font-hairline uppercase text-xl tracking-wider">{{ site.title | escape }}</h1>
    </a>

    {%- if titles_size > 0 -%}
    <nav class="mr-0 md:mr-20 text-sm font-thin">
        {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="mx-2 hover:text-theme-pink" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
        {%- endfor -%}
        <a target="_blank" class="mx-2 hover:text-theme-pink" href="https://instagram.com/{{ site.social.instagram }}">Instagram</a>
    </nav>
    {%- endif -%}
</header>
