{% assign name = image_file.basename | split: '_' | first | capitalize | split: '-' | join: ' '%}
{% assign medium =  image_file.basename | split: '_' | last | capitalize | split: '-' | join: ' ' %}


<a href="{{ image_file.path }}">
<figure class="relative w-full h-88 bg-red-600 rounded-xl">
    <img class="h-full w-full object-cover object-center rounded-xl" src="{{ image_file.path }}" alt="{{ name }}">
    <figcaption class="top-0 left-0 h-full w-full absolute transform transition-opacity rounded-xl
            duration-300 ease-in-out text-center opacity-0 hover:opacity-100 text-white
            flex flex-col justify-center"
        style="background-color: rgba(0,0,0,0.5);"
    >
        <h3 class="text-3xl font-serif"><span class="sr-only">Piece: </span>{{ name }}</h3>
        <h4 class="text-lg"><span class="sr-only">Medium: </span>{{ medium }}</h4>
    </figcaption>
</figure>
</a>
