
<div class="hidden lg:block my-64 mx-auto text-center">
    <h2 class="uppercase tracking-wider font-thin text-theme-pink text-6xl font-serif mb-5">Greenly</h2>
    <p class="text-white mb-16 font-thin">A collection of natural curiosities.</p>
    <a class="text-theme-pink hover:underline" href="/portfolio/greenly">Greenly Series</a>
</div>
<div class="hidden lg:block w-1/2 bg-center bg-no-repeat bg-cover" style="background-image: url(/assets/images/hanging-off-the-bed-2020-wip-pen-and-ink.webp)">
    <p class="sr-only">Background image alt-text: Hanging off the bed 2020 - In Progress - Pen and Ink</p>
</div>

<div class="lg:hidden block bg-center bg-no-repeat bg-cover"
    style="background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/assets/images/hanging-off-the-bed-2020-wip-pen-and-ink.webp)"
>
    <div class="my-32 mx-auto text-center">
        <h2 class="uppercase tracking-wider font-thin text-theme-pink text-6xl font-serif mb-5">Greenly</h2>
        <p class="text-white mb-16 font-thin">A collection of natural curiosities.</p>
        <a class="text-theme-pink hover:underline" href="/portfolio/greenly">Greenly Series</a>
    </div>
    <p class="sr-only">Background image alt-text: Hanging off the bed 2020 - In Progress - Pen and Ink</p>
</div>
