@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@200&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Reenie+Beanie&display=swap');
@tailwind base;
@tailwind components;

/* Write your styles below this line. */

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

/* Write your styles above this line. */

@tailwind utilities;
