@import "tailwindcss/base";
@import "tailwindcss/components";

/* Write your styles below this line. */

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.bg-gradient {
    background-image: linear-gradient(transparent, theme(colors.indigo.200));
}

/* Github flavoured markdown, thanks to: https://github.com/iandinwoodie/github-markdown-tailwindcss */

/* Additional vertical padding used by kbd tag. */
.py-05 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.markdown {
    @apply text-gray-900;
    @apply leading-loose;
    @apply break-words;
}

.markdown > * + * {
    @apply mt-0;
    @apply mb-2;
}

.markdown li + li {
    @apply mt-0;
}

.markdown li > p + p {
    @apply mt-6;
}

.markdown strong {
    @apply font-semibold;
}

.markdown a {
    @apply text-blue-600;
    @apply font-semibold;
}

.markdown strong a {
    @apply font-bold;
}

.markdown h1 {
    @apply leading-tight;
    @apply border-b;
    @apply text-4xl;
    @apply font-semibold;
    @apply mb-2;
    @apply mt-4;
    @apply pb-2;
}

.markdown h2 {
    @apply leading-tight;
    @apply border-b;
    @apply text-2xl;
    @apply font-semibold;
    @apply mb-2;
    @apply mt-4;
    @apply pb-2;
}

.markdown h3 {
    @apply leading-snug;
    @apply text-lg;
    @apply font-semibold;
    @apply mb-2;
    @apply mt-4;
}

.markdown h4 {
    @apply leading-none;
    @apply text-base;
    @apply font-semibold;
    @apply mb-2;
    @apply mt-4;
}

.markdown h5 {
    @apply leading-tight;
    @apply text-sm;
    @apply font-semibold;
    @apply mb-2;
    @apply mt-4;
}

.markdown h6 {
    @apply leading-tight;
    @apply text-sm;
    @apply font-semibold;
    @apply text-gray-600;
    @apply mb-2;
    @apply mt-4;
}

.markdown blockquote {
    @apply text-base;
    @apply border-l-4;
    @apply border-gray-300;
    @apply pl-4;
    @apply pr-4;
    @apply text-gray-600;
}

.markdown code {
    @apply font-mono;
    @apply text-sm;
    @apply inline;
    @apply bg-gray-200;
    @apply rounded;
    @apply px-1;
    @apply py-05;
}

.markdown pre {
    @apply bg-gray-100;
    @apply rounded;
    @apply p-4;
}

.markdown pre code {
    @apply block;
    @apply bg-transparent;
    @apply p-0;
    @apply overflow-visible;
    @apply rounded-none;
}

.markdown ul {
    @apply text-base;
    @apply pl-8;
    @apply list-disc;
}

.markdown ol {
    @apply text-base;
    @apply pl-8;
    @apply list-decimal;
}

.markdown kbd {
    @apply text-xs;
    @apply inline-block;
    @apply rounded;
    @apply border;
    @apply px-1;
    @apply py-05;
    @apply align-middle;
    @apply font-normal;
    @apply font-mono;
    @apply shadow;
}

.markdown table {
    @apply text-base;
    @apply border-gray-600;
}

.markdown th {
    @apply border;
    @apply py-1;
    @apply px-3;
}

.markdown td {
    @apply border;
    @apply py-1;
    @apply px-3;
}

/* Override pygments style background color. */
.markdown .highlight pre {
    @apply bg-gray-100 !important;
}

/* Write your styles above this line. */

@tailwind utilities;
