---
layout: default
---
<h2>{{ page.title }}</h2>
<h3>Year published: {{ page.year_published }}</h3>
<div class="mx-auto w-full md:w-2/3 lg:w-1/3 markdown p-5">
    {{ content }}
</div>
<div class="w-full md:w-2/3 mx-auto grid grid-cols-1 md:grid-col-3 lg:grid-cols-4 gap-4 p-5 bg-theme-gray">
    {% assign image_files = site.static_files | where: "series", true %}
    {% for image_file in image_files %}
        {% if image_file.path contains page.slug %}
            {% include image-figure.html image_file=image_file%}
        {% endif %}
    {% endfor %}
</div>
